### My rules ###
**/!docs
**/build
**/.vs

*.pdf
*.zip
# *.jpg
# *.png
~$*
*.tmp
*.out*.txt



### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



### CUDA ###
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

